.heroName {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
  
  .heroSlogan {
    background: linear-gradient(45deg, #ffffff, #f0f0f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .smoke-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .smoke {
    position: absolute;
    width: 1px;
    height: 160px;
    bottom: 30px;
    background: #4b4b4b;
    opacity: 0;
  }
  
  @keyframes smoke {
    0% {
      transform: scale(1) translateY(0);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: scale(3) translateY(-200px) rotate(45deg);
      opacity: 0;
    }
  }
  
  .smoke::before,
  .smoke::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #4b4b4b;
    filter: blur(60px);
  }
  
  .smoke::after {
    width: 200px;
    height: 200px;
    filter: blur(40px);
  }
  
  .smoke:nth-child(1) {
    left: 40%;
    animation: smoke 10s 0s infinite;
  }
  
  .smoke:nth-child(2) {
    left: 50%;
    animation: smoke 12s 1s infinite;
  }
  
  .smoke:nth-child(3) {
    left: 60%;
    animation: smoke 15s 2s infinite;
  }

.waveContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: translateY(1px); /* Menghindari gap kecil */
  }
  
  .waves {
    position: relative;
    width: calc(100% + 1.3px);
    height: 200px; /* Meningkatkan tinggi dari 150px */
  }
  
  .parallax > use {
    animation: moveForever 25s cubic-bezier(.55,.5,.45,.5) infinite;
  }
  
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  
  @keyframes moveForever {
    0% {
      transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  
  @media (max-width: 768px) {
    .waves {
      height: 80px; /* Meningkatkan tinggi untuk mobile */
    }
  }

  