/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar untuk Webkit browsers (Chrome, Safari), Edge, dan IE */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #0D0C1B;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #64FFDA;
  border-radius: 10px;
  border: 3px solid #0D0C1B; /* Membuat efek padding */
}
::-webkit-scrollbar-thumb:hover {
  background: #4AD3AC;
}

/* Untuk Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #64FFDA #0D0C1B;
}

/* Untuk Edge dan IE */
body {
  -ms-overflow-style: none;
}
body::-ms-scrollbar {
  display: none;
}
@supports (-ms-overflow-style: none) {
  html {
    overflow: auto;
  }
  body {
    overflow: overlay;
  }
}

body, html {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(to bottom, #0D0C1B, #172A45);
}